@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);

    --bodyText: 1rem;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin-inline: auto;
}

body {
    font-family: "Work Sans", sans-serif;
}