@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , ol, li {
    list-style: none;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
    --pink: #AD28EB;

    --bodyText: 1rem;
    --transtion: all ease-in-out 300ms;
    --bRadius: 16px;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin-inline: auto;
}

.boldText {

}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

.bgWhite {
    position: relative;
    background: var(--Lightpink);
}

.faqBox {
    padding: 2.2rem 1.5rem;
    width: calc(100% - 2rem);
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 100px;
    border-radius: var(--bRadius);
    background: var(--white);
    box-shadow: 5px 10px 15px rgba(24, 24, 24, .4);
    position: absolute;
    top: 160px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.titleBox {
    display: flex;
    align-items: center;
    color: var(--Darkpurple);
    font-size: 1.8rem;
    font-size: clamp(1.8rem, 1.7027027027027029rem + 0.43243243243243235vw, 2rem);
    margin-bottom: 2.4rem;
}

.titleBox img {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 2rem;
}

.faqRow {
    cursor: pointer;
    border-bottom: 1px solid var(--Lightpink);
}

.quesRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2.2rem 0 1.2rem;
}

.quesRow:hover .faqTitle {
    color: var(--pink);
}

.faqTitle {
    font-size: 1.1rem;
    font-size: clamp(1.1rem, 1.0513513513513515rem + 0.21621621621621595vw, 1.2rem);
    color: var(--Darkpurple);
    font-weight: 600;
    transition: var(--transtion);
}

.faqIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.qContent {
    font-size: var(--bodyText);
    line-height: 1.8;
    color: var(--Grayishpurple);
    margin-bottom: 1.8rem;
    margin-top: -.2rem;
}

.hideContent {
    display: none;
}

.attribution {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 8px;
}